<app-filter [tab]="'a'" [name]="'a'"></app-filter>
<app-filter [tab]="'a'" [name]="'b'"></app-filter>
<app-filter [tab]="'a'" [name]="'c'"></app-filter>

<app-graph [tab]="'a'" [name]="'a'"></app-graph>


<app-filter [tab]="'b'" [name]="'a'"></app-filter>
<app-filter [tab]="'b'" [name]="'b'"></app-filter>
<app-filter [tab]="'b'" [name]="'c'"></app-filter>

<app-graph [tab]="'b'" [name]="'a'"></app-graph>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->